{% verbatim %}
<div class="row">
    <div class="large-9 large-push-3 columns">
    	<article ng-repeat="bundle in bundles">
            <h1><a href="#/bundle/{{bundle.id}}">{{bundle.name}}</a></h1>
      		<div class="panel">
      			{{bundle.description}}
      		</div>
      	</article>
    </div>
    <div class="large-3 columns large-pull-9">
      <div class="panel">
      	<ul class="side-nav">
          <li class="active">Operations</li>
          <li><a href="#/bundle/new">Ajouter</a></li>
        </ul>
      </div>
      </div>
  </div>
{% endverbatim %}