<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <h3>Créer une Entité</h3>
        </div>
        <div class="panel">
            {{ render_form('SkimiaProjectManagerBundle','Entity') }}
        </div>
    </div>
</div>