<div class="row">
    <div class="col-md-12">
        <div class="well">
            <h3>Créer une Entité</h3>
        </div>
        <div class="well">
            {{ render_form('SkimiaProjectManagerBundle','Entity') }}
        </div>
    </div>
</div>