<div class="color red first">
	<div class="row">
    	<div class="col-md-12">
    		<h1>Poster une Annonce</h1>
     	   	<div class="well">
       		    {{ render_form('SkimiaProjectManagerBundle','Announcement') }}
        	</div>
    	</div>
	</div>
</div>