{% verbatim %}
<div class="row">
    <div class="large-9 large-push-3 columns">
    	<article ng-repeat="announcement in announcements">
            <h1><a href="#/announcement/{{announcement.id}}">{{announcement.title}}</a></h1>
      		<div class="panel">
      			{{announcement.content}}
      		</div>
      	</article>
    </div>
    <div class="large-3 columns large-pull-9">
      <div class="panel">
      	<ul class="side-nav">
          <li class="active">Operations</li>
          <li><a ng-show="user.isGranted('ROLE_SUPER_ADMIN')" href="#/announcement/new">Ajouter</a></li>
        </ul>
      </div>
      </div>
  </div>
{% endverbatim %}