# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
bin/*
*/.sass-cache/*
web/ccss/svgs/*
web/theme/bower_components/*
web/theme/stylesheets/*
web/theme/js/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/css/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

commands/
composer.lock
composer.phar
web/config.php
app/SymfonyRequirements.php
app/check.php
/nbproject/private/
nbproject/project.xml
nbproject/project.properties

web/theme/*
web/theme/.bowerrc
web/ccss/app.css
web/theme/bower.json