# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
bin/*
*/.sass-cache/*
web/ccss/svgs/*
web/theme/bower_components/*
web/theme/stylesheets/*
web/theme/js/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
