  <div class="color img first">
    <a target="_blank" href="https://github.com/collectiveip/prerender"><img style="position: absolute; top: 45px; right: 0; border: 0; z-index: 1000;" src="{{ asset('ccss/img/beta-ribbon.gif') }}" alt="Fork me on GitHub"></a>
    <div class="row">
      <div class="large-12 columns">
        <h1>Skimia Project Manager</h1>
      </div>
      <div class="large-6 columns animated fadeInLeft">
        <div class="panel">
          <h4>Générateur de Code Symfony2<hr></h4>
          <h5 class="subheader">Pour Symfony grâce a Symfony par Skimia</h5>
        </div>
      </div>
      <div class="large-6 columns animated fadeInRight">
        <div class="panel">
          <h4><i class="fa fa-gear"></i> Web Application<hr></h4>
          <h5 class="subheader">Nous utilisons les dernières technologies du web. <br/> AngularJs + RestFull Application = Web Application</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="linen">
    <a target="_blank" href="https://github.com/collectiveip/prerender"><img style="position: absolute; top: 45px; right: 0; border: 0; z-index: 1000;" src="{{ asset('ccss/img/beta-ribbon.gif') }}" alt="Fork me on GitHub"></a>
    <div class="row">
      <div class="large-12 columns">
        <h1>Pourquoi SPM</h1>
      </div>
      <div class="large-4 columns">
        <div class="panel">
          <h4>Code Propre<hr></h4>
          <h5 class="subheader">Dites oui a un code propre et bien documenté</h5>
        </div>
      </div>
      <div class="large-4 columns">
        <div class="panel">
          <h4>Oubliez la routine<hr></h4>
          <h5 class="subheader">Avec SPM vous avez juste besoin générer la structure de votre code et vous êtes prêt a travailler</h5>
        </div>
      </div>
      <div class="large-4 columns">
        <div class="panel">
          <h4>Une erreur ?<hr></h4>
          <h5 class="subheader">Rien ne vous enpeche de regenerer votre entité ou votre controlleur avec les nouvelles informations</h5>
        </div>
      </div>
    </div>
  </div>