<div class="modal-header">
    <h3>Clef Bêta Gratuite</h3>
</div>
<div class="modal-body">
    <p>"{%verbatim%}{{ukey}}{%endverbatim%}"</p>
    <input type="hidden" value="{%verbatim%}{{key}}{%endverbatim%}"/>
</div>
<div class="modal-footer">
</div>