<div class="modal-header">
    <h3>Suppression</h3>
</div>
<div class="modal-body">
    <p>Voulez vous vraiment supprimer "{%verbatim%}{{infos.entity.name == null ? infos.entity.title : infos.entity.name}}{%endverbatim%}"</p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Oui</button>
    <button class="btn btn-warning" ng-click="cancel()">Non</button>
</div>