<div class="row">
    <div class="large-12 columns">
        <h3>Editer relation</h3>
        <div class="panel">
      {{ render_form('SkimiaProjectManagerBundle','Relation') }}
    </div>
    </div>
</div>