{% verbatim %}
<div class="row project-bundles">
  <div class="col-md-12">
   <article class="bundle">
    <h4>Administration<hr></h4>
    {%endverbatim%}{{ render_form('SkimiaProjectManagerBundle','Project') }}{%verbatim%}
  </article>
  </div>
</div>
{% endverbatim %}