{% verbatim %}
<div class="row project-bundles">
  <div class="col-md-12">
   <article class="bundle">
    <h4>Fichiers<hr></h4>
    <p>{{project.name}} ne contient aucun fichiers</p>
  </article>
  </div>
</div>
{% endverbatim %}