{% verbatim %}
<div class="row project-bundles">
  <div class="large-12 columns">
   <article class="bundle">
    <h4>Demandes<hr></h4>
    <p>{{project.name}} ne contient aucune demandes</p>
  </article>
  </div>
</div>
{% endverbatim %}