{% verbatim %}
<div class="row">
    <div class="large-9 large-push-3 columns">
    	<article ng-repeat="project in projects">
            <h1><a href="#/project/{{project.id}}">{{project.name}}</a></h1>
      		<div class="panel">
      			{{project.description}}
      		</div>
      	</article>
    </div>
    <div class="large-3 columns large-pull-9">
      <div class="panel">
      	<ul class="side-nav">
          <li class="active">Operations</li>
          <li><a href="#/project/new">Ajouter</a></li>
        </ul>
      </div>
      </div>
  </div>
{% endverbatim %}