<div class="color red first">
	<div class="row">
    	<div class="col-md-12">
    		<h1>{% verbatim %}Editer "{{ data.name }}"{% endverbatim %}</h1>
     	   	<div class="well">
       		    {{ render_form('SkimiaProjectManagerBundle','Group') }}
        	</div>
    	</div>
	</div>
</div>