<div class="color red first">
	<div class="row">
    	<div class="large-12 columns">
    		<h1>Créer un groupe de travail</h1>
     	   	<div class="panel front-form">
       		    {{ render_form('SkimiaProjectManagerBundle','Group') }}
        	</div>
    	</div>
	</div>
</div>