{% verbatim %}
<div class="color red first">
  <div class="row">
    <div class="col-md-12">
      <div class="well row marbot-20">
        <div class="col-md-12">
          <h3>{{group.name}}</h3>
          <ul class="list-inline" ng-show="user.id == group.main_user.id">
            <li><a href="{{$state.href('spm.group.edit',{groupId: group.id})}}">Editer</a></li>
            <li><a href="{{$state.href('spm.group.delete',{groupId: group.id})}}">Supprimer</a></li>
          </ul>
          <ul class="list-inline">
            <li ng-show="group.public">Public</li>
            <li ng-show="!group.public">Privé</li>
            <li ng-show="group.openned">Ouvert</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endverbatim %}