@import "settings";
@import "foundation";
@import "compass";
 
@import "_elements.scss";
@import "_color_blocks.scss";
@import "_utility_classes.scss";
@import "_modal.scss";
@import "_loader.scss";
@import "_init.scss";

@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);


//utility
.row{
	max-width: 80rem !important;
}
.breadcrumbs{
	margin-top: 20px;
	padding: 0 !important;
	background: none!important;
	border: none!important;
}
.spm-container{
	a:hover{
		text-decoration:underline !important;
	}
}
textarea {
	min-height: 10rem !important;
}