@import "bootstrap";
@import "compass";
 
@import "_elements.scss";
@import "_color_blocks.scss";
@import "_utility_classes.scss";
@import "_modal.scss";
@import "_loader.scss";
@import "_init.scss";

@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);

html{
	overflow: auto;
}
.modal.fade.in{
	overflow: hidden;
}
//utility
.breadcrumb{
	margin-top: 20px;
	
	& > .active{
		a{
			color: #999 !important;
		}
	}
}
.container{

	a:hover{
		text-decoration:underline !important;

	}
}
//a without href
a:hover{
	cursor: pointer;
}
textarea {
	min-height: 10rem !important;
}

form{
	.form-group.has-error{
		label{
			color: #a94442 !important;
		}
		.fa{
			color: #a94442 !important;
			margin-top: 8px;
		}

		input,textarea{
			border-color: #a94442!important;
			border-style:dotted	;
			border-width:2px;
		}
	}
}