@import "settings";
@import "foundation";
@import "compass";
 
@import "_elements.scss";
@import "_color_blocks.scss";
@import "_utility_classes.scss";

@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);
//utility

.breadcrumbs{
	padding: 0 !important;
	background: none!important;
	border: none!important;
}